# custom config
ExecVars.py

# you know these
venv
__pycache__

# Telethon sessions
*.session
*.session-journal

# tests
# Ignore stray test files at repository root but keep files under tests/
test*.*
!tests/**
splfil/

# runtime files
Downloads/
userdata/
torlog.txt
*.conf

